@charset "UTF-8";

.header {
  width: 100%;
  background-color: #fff;
}

.titel {
  width: 100%;
  background-color: #f2f2f2;
}

.waht__container {
  width: 100%;
  background-color: #74cfae;
}

.work__container {
  width: 100%;
  background-color: #f2f2f2;
}

.section__road {
  width: 100%;
  background-color: #4e4e4e;
}

.sns__road {
  width: 100%;
  background-color: #f2f2f2;
}

.footer {
  width: 100%;
  background-color: #74cfae;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.header__inner {
  display: flex;
  padding: 15px 0 15px 0;
}

.header__menu {
  margin-left: auto;
}

.header__but {
  text-decoration: none;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
  transition: 0.3s;
}

.header__but:hover{
  color: #333;
}

.titel__inner {
  padding: 250px 0 250px 0;
}

.theme {
  padding-bottom: 20px;
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  text-align: center;
}

.theme__text {
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
}

.what__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}

.what__table {
  width: 69%;
  box-sizing: border-box;
  text-align: center;
}

.what__titel {
  font-size: 24px;
  color: #fff;
  padding-bottom: 35px;
}

.what__text {
  font-size: 20px;
  color: #fff;
}

.work__inner .work__titel {
  padding: 60px 0 40px 0;
}

.work__titel {
  font-size: 24px;
  text-align: center;
}

.work__img__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.work__img {
  margin-left: 100px;
  opacity: 0.7;
  transition: 0.3s;
}

.work__img:nth-child(3n+1) {
  margin-left: 0;
}

.work__img:nth-child(n+4) {
  margin-top: 80px;
}

.work__img:hover {
  opacity: 1;
}

.work__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work__inner .work__text {
  padding: 90px 0px 70px 0;
}

.work__text {
  width: 48%;
  margin-right: 90px;
  text-align: center;
}

.email__but {
  text-decoration: none;
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  transition: 0.3s;
}

.email__but:hover {
  color: #333;
}

.skills__inner {
  padding: 70px 0 40px 0;
}

.skills__titel {
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.skills__img__list {
  display: flex;
  justify-content: space-around;
}

.skills__img p {
  padding-top: 20px;
  margin: 0 0 100px 0;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.sns__inner {
  padding: 200px 0px 200px 0;
}

.sns__list {
  display: flex;
  justify-content: center;
}

.sns__link {
  color: #74cfae;
  display: block;
}

.sns__list li {
  transition: 0.3s;
  text-align: center;
  width: 185px;
  padding: 23px 0 23px 0;
}

.sns__list li:hover {
  background-color: #fff;
}

.footer__inner {
  padding: 20px 0 25px 0;
  color: #fff;
  text-align: right;
}