@charset "UTF-8";

body {
  font-family: "lato";
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

a {
  display: inline-block;
}

main {
  padding-top: 62px; 
}

.main__font {
  font-family: "raleway";
}

.title, .work__container, .sns__road {
  background-color: #f2f2f2;
}

.what__container, .footer {
  background-color: #74cfae;
}

.section__road {
  background-color: #4e4e4e;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.header__inner {
  display: flex;
  padding: 15px 0 15px;
}

.header__menu {
  margin-left: auto;
}

.header__but {
  text-decoration: none;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
  transition: 0.3s;
}

.header__but:hover{
  color: #333;
}

.title__inner {
  padding: 250px 0 250px;
}

.theme {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  text-align: center;
}

.theme__text {
  font-size: 30px;
  margin-top: 20px;
  color: #c0c0c0;
  text-align: center;
}

.sp {
  display: none;
}

.what__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}

.what__table {
  width: 60%;
  box-sizing: border-box;
  text-align: center;
}

.what__title{
  font-size: 24px;
  color: #fff;
}

.what__text {
  font-size: 20px;
  margin-top: 35px;
  color: #fff;
}

.work__inner {
  padding: 60px 0 70px;
}

.work__title {
  font-size: 24px;
  text-align: center;
}

.work__img__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  z-index: 2;
}

.work__img {
  margin-left: 100px;
}

.work__img:nth-child(3n+1) {
  margin-left: 0;
}

.work__img:nth-child(n+4) {
  margin-top: 80px;
}

.work__img a {
  opacity: 0.7;
  transition: 0.3s;
}


.work__img a:hover {
  opacity: 1;
}

img {
  vertical-align: bottom;
}

.work__block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.work__text {
  width: 42%;
  text-align: center;
}

.email__but {
  text-decoration: none;
  font-size: 12px;
  padding: 14px 20px;
  margin-left: 90px;
  background-color: #74cfae;
  color: #fff;
  transition: 0.3s;
}

.email__but:hover {
  color: #333;
}

.skills__inner {
  padding: 70px 0 100px;
}

.skills__title {
  font-size: 24px;
  text-align: center;
  color: #fff;
  
}

.skills__img__list {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.skills__img p {
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.sns__inner {
  padding: 200px 0 200px;
}

.sns__list {
  display: flex;
  justify-content: center;
}

.sns__link {
  color: #74cfae;
  padding: 23px 23px;
  display: block;
}

.sns__list li {
  transition: 0.3s;
  text-align: center;
  width: 185px;
}

.sns__list li:hover {
  background-color: #fff;
}

.footer__inner {
  padding: 20px 0 25px;
  color: #fff;
  text-align: right;
}

@media screen and (min-width: 1200px) {
  
}

@media screen and (max-width: 1199px) {

  .inner {
    width: 97%;
  }

  .what__inner {
    padding-top: 50px;
    text-align: center;
  }

  .what__table {
    margin: 20px 0 25px;
    width: 83%;
  }

  .what__text {
    margin-top: 35px;
  }

  .work__inner {
    padding: 60px 0px 70px;
  }

  .work__img__list {
    display: block;
    margin-top: 40px;
    text-align: center;
  }

  .work__img {
    margin: 0 auto;
  }

  .work__img:nth-child(n+4) {
    margin-top: 0;
  }

  .work__img:nth-child(3n+1) {
    margin-top: 80px;
  }

  .work__img:nth-child(1) {
    margin-top: 0;
  }

  .work__block {
    display: block;
    margin-top: 80px;
  }

  .work__text {
    margin: 0 auto;
    width: 75%;
  }

  .email__box {
    margin-top: 40px;
    text-align: center;
  }

  .email__but {
    margin-left: 0;
  }

  .skills__img__list {
    display: block;
    text-align: center;
  }

  .skills__img:nth-child(n+2) {
    margin-top: 88px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {

  .email__box {
    margin-top: 40px;
    text-align: center;
  }

  .email__but {
    margin-left: 0;
  }

}

@media screen and (max-width: 767px) {

  .header__but {
    display: none;
  }

  .nav__toggle {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 10px;
  }

  .nav__line {
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 70%;
  }

  .nav__line:nth-last-of-type(1) {
    top: 20px;
  }

  .nav__line:nth-last-of-type(2) {
    top: 14px;
  }

  .nav__line:nth-last-of-type(3) {
    top: 8px;
  }

  .sp {
    display: block;
  }

  .title__inner {
    padding: 160px 0 130px;
  }

  .theme {
    font-size: 80px;
  }

  .theme__text {
    font-size: 30px;
    margin-top: 20px;
  }

  .sns__inner {
    padding: 50px 0 50px;
  }

  .sns__list {
    display: block;
  }
  
  .sns__list li {
    width: 100%;
  }

}





